html, body {
    background-color: black;
    font-size: 16px;
    color: antiquewhite;
    font-family: 'Quicksand', sans-serif;
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8)
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content a {
    text-decoration: none;
}

.logo {
    font-family: "Rock 3D", sans-serif;
    font-size: 2.5rem;
    color: antiquewhite;
}

.header-content {
    padding: 1rem 1rem;
    justify-content: space-around;
}

.header-content nav ul{
    display: flex;
}

.header-content ul li img {
    width: 2.5rem;
    color: antiquewhite;
    padding-left: 2rem;
}

@media screen and (max-width: 600px) {
    .header-content ul li img {
        width: 2rem;
    }
}

/* title */

#title {
    position: relative;
    height: 900px;
    background-image: url('../imgs/background.jpeg');
}

#title-text {
    position: absolute;
    top: 40%;
    left: 20%;
}

#title-text h1 {
    font-family: "Rock 3D", sans-serif;
    font-size: 6rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

#title-text h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    #title-text  {
        text-align: center;
        position: relative;
        left: auto;

    }

    #title-text h1 {
        font-size: 3rem;
    }
}


/* projects section */

#projects h2 {
    font-size: 3rem;
    padding: 30px 0;
    text-align: center;
}

.nft-project {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
    width: 60%;
}

.nft-project img {
    max-width: 500px;
    max-height: 100%;
    padding: 1%;
}

.nft-project div {
    max-width: 100%;
    padding: 1%;
    text-align: center;
}

.nft-project h4 {
    font-family: "Rock 3D", sans-serif;
    font-size: 2.5rem;
    padding: 20px 0;
}

.nft-project p {
    font-size: 1.5rem;
    padding: 20px 0;
}

#metaverse {
    margin-right: 2%;
}

#marketplace {
    margin-left: 2%;
}

@media screen and (max-width: 1000px) {
    .nft-project {
        flex-direction: column;
        width: 70%;
    }

    .nft-project:last-child {
        flex-direction: column-reverse;
    }

    .nft-project img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .nft-project {
        width: 90%;
    }

    .nft-project p {
        font-size: 1rem;
    }
}


/* team section */ 

#team-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 1% auto;
}

#team h2 {
    font-size: 3rem;
    padding: 30px 0;
    text-align: center;
}

#team-container .team-member {
    width: 25%;
    margin: 10px;
    border-radius: 6px;
    padding: 25px;
    border: 1px solid antiquewhite;
}

#team-container .team-member img {
    width: 100%;
}

#team-container .team-member span {
    font-size: 1rem;
}

#team-container .team-member p {
    margin: 15px 0;
}

@media screen and (max-width: 1000px) {
    #team-container {
        width: 70%;
    }

    #team-container .team-member {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #team-container {
        width: 90%;
    }
}



/* footer */

.footer-container {
    border-top: 1px solid antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer div {
    text-align: center;
    padding: 1%;
}

@media screen and (max-width: 600px) {
    footer div {
        padding: 2%;
    }
}