html, body {
    background-color: black;
    font-size: 16px;
    color: antiquewhite;
    font-family: 'Quicksand', sans-serif;
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8)
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content a {
    text-decoration: none;
}

.logo {
    font-family: "Rock 3D", sans-serif;
    font-size: 2.5rem;
    color: antiquewhite;
}

.header-content {
    padding: 1rem 1rem;
    justify-content: space-around;
}

.header-content nav ul{
    display: flex;
}

.header-content ul li img {
    width: 2.5rem;
    color: antiquewhite;
    padding-left: 2rem;
}

@media screen and (max-width: 600px) {
    .header-content ul li img {
        width: 2rem;
    }
}

/* title */

#title {
    position: relative;
    height: 900px;
    background-image: url('../imgs/background.jpeg');
}

#title-text {
    position: absolute;
    top: 40%;
    left: 20%;
}

#title-text h1 {
    font-family: "Rock 3D", sans-serif;
    font-size: 6rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

#title-text h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    #title-text  {
        left: 0;
    }

    #title-text h1 {
        font-size: 3rem;
    }
}


/* projects section */

#projects h2 {
    font-size: 3rem;
    padding: 30px 0;
    text-align: center;
}

.nft-project {
    display: flex;
    align-items: center;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    width: 60%;
}

.nft-project img {
    max-width: 100%;
    max-height: 100%;
    padding: 1%;
    margin-right: 30px;
}

.nft-project div {
    max-width: 100%;
    padding: 1%;

}

.nft-project h4 {
    font-family: "Rock 3D", sans-serif;
    font-size: 2.5rem;
    padding: 20px 0;
}

.nft-project p {
    font-size: 1.5rem;
    padding: 20px 0;
}

@media screen and (max-width: 600px) {
    .nft-project {
        flex-direction: column;
  }
}

