html {
    background-color: black;
    font-size: 16px;
    color: antiquewhite;
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8)
}

.header-content {
    display: flex;
}

.logo {
    font-family: "Rock 3D", sans-serif;
    font-size: 2.5rem;
    color: antiquewhite;
}

.header-content {
    padding: 1rem 1rem;
    justify-content: space-around;
}

.header-content nav ul{
    display: flex;
}

.header-content ul li img {
    width: 2.5rem;
    color: antiquewhite;
    padding-left: 2rem;
}

/* title */

#title {
    position: relative;
    height: 900px;
    background-image: url('../imgs/background.jpeg');
}

#title-text {
    position: absolute;
    top: 40%;
    left: 20%;
}

#title-text h1 {
    font-family: "Rock 3D", sans-serif;
    font-size: 6rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

#title-text h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

